---
// Component Imports
import Base from "../components/Base.svelte";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			:root {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<main>
			<Base client:only="svelte" />
		</main>
	</body>
</html>
